<ngx-charts-line-chart
    *ngIf="_chartType === proChartType.LineChart"
    class="chart-container"
    [view]="_view"
    [scheme]="_colorType"
    [results]="_multi"
    [animations]="animations"
    [legend]="_showLegendAreaLineChart"
    [legendTitle]="_legendTitleAreaLineChart"
    [gradient]="_gradientsAreaLineChart"
    [xAxis]="_showXAxisAreaLineChart"
    [yAxis]="_showYAxisAreaLineChart"
    [showXAxisLabel]="_showXAxisLabelAreaLineChart"
    [showYAxisLabel]="_showYAxisLabelAreaLineChart"
    [xAxisLabel]="_xAxisLabelAreaLineChart"
    [yAxisLabel]="_yAxisLabelAreaLineChart"
    [autoScale]="_autoScale"
    [timeline]="_timeline"
    [showGridLines]="_showGirdLinesAreaLineChart"
    [curve]="_lineInterpolation"
    [tooltipDisabled]="_disableTooltipAreaLineChart">
</ngx-charts-line-chart>

<ngx-charts-area-chart
    *ngIf="_chartType === proChartType.AreaChart"
    class="chart-container"
    [view]="_view"
    [scheme]="_colorType"
    [results]="_multi"
    [animations]="animations"
    [legend]="_showLegendAreaLineChart"
    [legendTitle]="_legendTitleAreaLineChart"
    [gradient]="_gradientsAreaLineChart"
    [xAxis]="_showXAxisAreaLineChart"
    [yAxis]="_showYAxisAreaLineChart"
    [showXAxisLabel]="_showXAxisLabelAreaLineChart"
    [showYAxisLabel]="_showYAxisLabelAreaLineChart"
    [xAxisLabel]="_xAxisLabelAreaLineChart"
    [yAxisLabel]="_yAxisLabelAreaLineChart"
    [autoScale]="_autoScale"
    [timeline]="_timeline"
    [showGridLines]="_showGirdLinesAreaLineChart"
    [curve]="_lineInterpolation"
    [tooltipDisabled]="_disableTooltipAreaLineChart">
</ngx-charts-area-chart>

<ngx-charts-area-chart-stacked
    *ngIf="_chartType === proChartType.StackedAreaChart"
    class="chart-container"
    [view]="_view"
    [scheme]="_colorType"
    [results]="_multi"
    [animations]="animations"
    [legend]="_showLegendAreaLineChart"
    [legendTitle]="_legendTitleAreaLineChart"
    [gradient]="_gradientsAreaLineChart"
    [xAxis]="_showXAxisAreaLineChart"
    [yAxis]="_showYAxisAreaLineChart"
    [showXAxisLabel]="_showXAxisLabelAreaLineChart"
    [showYAxisLabel]="_showYAxisLabelAreaLineChart"
    [xAxisLabel]="_xAxisLabelAreaLineChart"
    [yAxisLabel]="_yAxisLabelAreaLineChart"
    [timeline]="_timeline"
    [showGridLines]="_showGirdLinesAreaLineChart"
    [tooltipDisabled]="_disableTooltipAreaLineChart"
    [curve]="_lineInterpolation">
</ngx-charts-area-chart-stacked>

<ngx-charts-area-chart-normalized
    *ngIf="_chartType === proChartType.NormalizedAreaChart"
    class="chart-container"
    [view]="_view"
    [scheme]="_colorType"
    [results]="_multi"
    [animations]="animations"
    [legend]="_showLegendAreaLineChart"
    [legendTitle]="_legendTitleAreaLineChart"
    [gradient]="_gradientsAreaLineChart"
    [xAxis]="_showXAxisAreaLineChart"
    [yAxis]="_showYAxisAreaLineChart"
    [showXAxisLabel]="_showXAxisLabelAreaLineChart"
    [showYAxisLabel]="_showYAxisLabelAreaLineChart"
    [xAxisLabel]="_xAxisLabelAreaLineChart"
    [yAxisLabel]="_yAxisLabelAreaLineChart"
    [timeline]="_timeline"
    [showGridLines]="_showGirdLinesAreaLineChart"
    [tooltipDisabled]="_disableTooltipAreaLineChart"
    [curve]="_lineInterpolation">
</ngx-charts-area-chart-normalized>
