<toaster-container [toasterconfig]="toastrConfig"></toaster-container>

<div class="user-management-wrapper content-wrapper">
    <section class="content">
        <widget-user-management [globalProperties]="globalProperties"></widget-user-management>
    </section>
</div>
<xn-message-modal></xn-message-modal>
<app-aside (onToggleWidgetTemplate)="handleToggleWidgetTemplate($event)">Loading control sidebar...</app-aside>
<property-panel [isExpand]="isExpand" [isGlobal]="isGlobal" [properties]="properties"
    [parentData]="propertiesParentData" (onClose)="onPropertyPanelClose($event)" (onSave)="onPropertyPanelSave($event)"
    (onChange)="onPropertyPanelChange($event)" (onApply)="onPropertyPanelApply($event)"></property-panel>

<div *ngIf="xnLoading.loading" class="xn-loading">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
</div>