<div class="col-xs-12  notification-list-view-child">
	<div class="nlvc-header custom-header">
		<span class="pull-left pull-left-custom">
            <label-translation *ngIf="title" [keyword]="'Notification_list_view__' + title"></label-translation>
        </span>
        <div class="header-icon">

            <div class="pull-right  circle-border  circle-border--archived"
                [ngClass]="{'xn-disabled': (!messageList || !messageList.length)}">
                <i class="fa  fa-check" [tooltip]="archiveAllTooltip" (click)="archiveAll()"></i>
            </div>
            <div class="pull-right  circle-border  circle-border--archived-view">
                <i class="fa  fa-eye" [tooltip]="searchArchiveTooltip" (click)="showArchive()"></i>
            </div>
            <div class="pull-right pull-right-custom"
            [ngClass]="{'xn-disabled': (!messageList || !messageList.length)}">
            <i class="fal fa-collapse"
                [ngClass]="{'fa-chevron-down': !isShow, 'fa-chevron-up': isShow}"
                (click)="toggle()"></i>
            </div>
        </div>
	</div>
	<div [hidden]="!isShow" class="nlvc-items  col-xs-12  no-padding"
		[perfectScrollbar]="perfectScrollbarConfig">
        <div *ngFor="let item of messageList"
             class="nlvc-item"
             [ngClass]="{'nlvc-item--focus': (item.isFocused)}"
             (click)="showDetailItem(item)">
            <div class="nlvc-item-left pull-left">
                <div class="nlvc-item-left-date">
                    {{item.CreateDateDisplay}}
                </div>
                <div class="nlvc-item-left-title">
                    {{item.Subject}}
                </div>
                <i class="nlvc-item-left-content">
                    {{item.MainComment}}
                </i>
            </div>
            <div class="nlvc-item-right pull-right"
                 (click)="archiveItem(item, $event)">
                <div class="buttons">
                    <i class="fa  fa-check-circle"></i>
                    <span><label-translation
                        [keyword]="'NotificationListViewChild__Archive'"></label-translation></span>
                </div>
            </div>
        </div>
	</div>
</div>

<ng-template #archiveAllTooltip>
    <label-translation [keyword]="'NotificationListViewChild__ArchiveAll'"></label-translation>
</ng-template>

<ng-template #searchArchiveTooltip>
    <label-translation [keyword]="'NotificationListViewChild__Search_Archive'"></label-translation>
</ng-template>

