<div class="number-order-summary">
    <div class="flexbox filter-segment">
        <div *ngFor="let item of uiFilterData; index as i"
             (click)="filterTypeClicked($event, i, item)"
             class="filter-box"
             [ngClass]="{'filter-box-active':currentFilterType == item.type}">
            <div *ngIf="item.subTitle"
                 class="filter-title">
                {{item.title}}<ng-template [ngIf]="item.type == 'Week'"> #: </ng-template><ng-template [ngIf]="item.type != 'Week'">: </ng-template><strong>{{item.subTitle}}</strong>
            </div>
            <div *ngIf="!item.subTitle"
                 class="filter-title">
                <strong>{{item.title}}</strong>
            </div>
            <div class="filter-icon">
                <span>
                    <i class="fa  {{item.icon}}"
                       aria-hidden="true"></i>
                </span>
            </div>
            <div class="filter-count">
                <span>Quantity</span>
                <span class="font-size-14px">
                    <strong>{{item.count}}</strong>
                </span>
            </div>
        </div>
    </div>
    <div>
        <div [hidden]="currentFilterType != 'ByDate'">
            <div class="flexbox filter-by-date">
                <div>
                    <strong>From date</strong>
                </div>
                <div class="flexbox-inline-input">
                    <xn-date-picker #byDateDateFrom
                                    [isRequired]="false"
                                    [isInGrid]="true"
                                    [max]="byDateDateTo ? byDateDateTo.value : null"
                                    [value]="today"
                                    class=""></xn-date-picker>
                </div>
                <div>
                    <strong>To date</strong>
                </div>
                <div class="flexbox-inline-input">
                    <xn-date-picker #byDateDateTo
                                    [isRequired]="false"
                                    [isInGrid]="true"
                                    [min]="byDateDateFrom ? byDateDateFrom.value : null"
                                    [value]="today"
                                    class=""></xn-date-picker>
                </div>
                <div>
                    <button type="button"
                            mat-raised-button
                            (click)="filterDateRangeEventClicked()"
                            class="mat-btn-blue">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
