.xn__double-page-view__vertical,
.vertical-page_content {
    height: 100%;
}

:host ::ng-deep {
    > as-split > .as-split-gutter {
        &.hidden {
            visibility: hidden !important;
        }
    }

    .as-split-gutter {
        &.gutter-hidden {
            visibility: hidden !important;
        }
    }

   /* .as-split-area {
        border: 1px solid #ff8eec;
    }*/
}
