<toaster-container [toasterconfig]="toastrConfig"></toaster-container>
<div class="content-wrapper module-container"
     xnFocusError
     #xnFocus="xnFocusError"
     aprrovalFormProcessing
     hotKeyProcessing
     [ofModule]="ofModule"
     [xnFocusError]="xnFocus"
     [idMainDocument]="idMainDocument"
     [idDocumentContainerScans]="idDocumentContainerScans"
     [idDocumentTree]="idDocumentTree"
     [mediaName]="mediaName">
    <section class="content">
        <div class="module-management w-100">
            <xn-tab class="xn-tab--general"
                    [headerData]="headerData"
                    [tabSetting]="tabSetting"></xn-tab>
            <extracted-data-approval-processing [globalProperties]="tabSetting"></extracted-data-approval-processing>
        </div>
    </section>
</div>
<xn-message-modal></xn-message-modal>
<app-aside (onToggleWidgetTemplate)="handleToggleWidgetTemplate($event)">Loading control sidebar...</app-aside>
<property-panel [isExpand]="isExpand"
                [isGlobal]="isGlobal"
                [properties]="properties"
                (onClose)="onPropertyPanelClose($event)"
                (onSave)="onPropertyPanelSave($event)"
                (onChange)="onPropertyPanelChange($event)"
                (onApply)="onPropertyPanelApply($event)"></property-panel>
<div *ngIf="xnLoading.loading" class="xn-loading">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
</div>
