:host {
    position: absolute;
    top: 0;
    left: 0;
}

.hot-key_suggestion label {
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.hot-key_suggestion {
    width: 20px;
    /*position: absolute;*/
    z-index: 2;
    border-radius: 15px;
    /*margin-top: -23px;*/
    /*margin-left: 3px;*/
    height: 20px;
    background-color: rgba(60, 60, 60, 0.5);
}
