<div class="auth__main">
    <div class="auth__block">
        <ng-template [ngIf]="checking">
            <div *ngIf="isTokenValid == null && showCheckingIndicator"
                 class="indicator">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
            </div>
            <div *ngIf="isTokenValid == true"
                 class="indicator text-success">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            </div>
            <div *ngIf="isTokenValid == false"
                 class="indicator text-danger">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </div>
        </ng-template>

        <ng-template [ngIf]="!checking && isTokenValid == true && !updatePassswordSuccess">
            <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
                <i class="fa fa-floppy-o  top-icon"></i>
                <div class="col-xs-12  no-padding  form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <input type="password" class="form-control" name="password" [(ngModel)]="model.newPassword" placeholder="New Password" #password="ngModel"
                           (keyup)="passwordKeyPess()" required />
                    <div class="input-group-addon">
                        <i class="fa fa-unlock-alt"></i>
                    </div>
                </div>
                <div class="col-xs-12  no-padding  form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <input type="password" class="form-control" name="password" [(ngModel)]="model.reNewPassword" placeholder="Re-type Password"
                           #password="ngModel" (keyup)="passwordKeyPess()" required />
                    <div class="input-group-addon">
                        <i class="fa fa-unlock-alt"></i>
                    </div>
                </div>
                <div *ngIf="!passwordIsMatched || !passwordIsCorrect" class="col-xs-12  no-padding  form-group  user-authentication__fail">
                    <span *ngIf="!passwordIsCorrect">Password is not correct the password rule</span>
                    <span *ngIf="passwordIsCorrect && !passwordIsMatched">Password is not match</span>
                </div>
                <div *ngIf="updatePassswordFailed" class="col-xs-12  no-padding  form-group  user-authentication__fail">
                    <span>Updating password is failed, please try again.</span>
                </div>
                <div class="col-xs-12 no-padding  padding-top--sd">
                    <button [disabled]="loading"
                            class="mat-btn-blue  pull-right"
                            mat-raised-button>
                        <span class="fa  fa-floppy-o  push-icon"></span>
                        <span class="login-text">UPDATE</span>
                    </button>
                </div>
                <div class="form-group  col-xs-12 no-padding  line-separate">
                    <hr>
                </div>
                <div class="form-group">
                    <a [routerLink]="[loginUrl]" class="pull-right  link-to">Back to login page</a>
                </div>
                <div class="col-xs-12 no-padding  user-authentication__notice  margin-top--sd">
                    <p>
                        Specifies the user password the value can't be null. Password must match the following security policies:
                    </p>
                    <ul>
                        <li>Minimum 8 characters</li>
                        <li>At least 1 Uppercase Alphabet</li>
                        <li>At least 1 Lowercase Alphabet</li>
                        <li>At least 1 Number</li>
                        <li>At least one special</li>
                    </ul>
                </div>
            </form>
        </ng-template>

        <ng-template [ngIf]="updatePassswordSuccess">
            <i class="fa fa-info-circle  top-icon  user-authentication__success"></i>
            <h4>
                The password is updated.
            </h4>
            <div class="form-group  col-xs-12 no-padding  line-separate">
                <hr>
            </div>
            <div class="form-group">
                <a [routerLink]="[loginUrl]" class="pull-right  link-to">Back to login page</a>
            </div>
        </ng-template>

        <ng-template [ngIf]="!checking && isTokenValid == false">
            <i class="fa fa-info-circle  top-icon  user-authentication__fail"></i>
            <h4>
                This link is expired, please request a new session to reset your password.
            </h4>
            <div class="form-group  col-xs-12 no-padding  line-separate">
                <hr>
            </div>
            <div class="form-group">
                <a [routerLink]="[loginUrl]" class="pull-right  link-to">Back to login page</a>
            </div>
        </ng-template>
    </div>
</div>
