.xn__menu {
    top: 27px;
}

.dropdown-toggle {
    font-size: 21px;
    /*margin-top: -7px;*/
    width: 30px;
    position: absolute;
    background-color: transparent !important;
}

.xn__dropdown__menu ul {
    width: 100% !important;
}

.xn__menu__scroll {
    max-height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.add-more-tab {
    top: 0px;
    left: 0px;
}
.hidden-tab {
    margin: 0;
    text-align: left;
    height: 30px;
    padding-left: 15px;
    line-height: 30px;
}