<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281028228126-21m3uiv3s4fdmr2io50a53os021rjuuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281028228126-21m3uiv3s4fdmr2io50a53os021rjuuo</string>
	<key>API_KEY</key>
	<string>AIzaSyBbzFLtzVeReA9YkLsvsHrmljoIYYaad3E</string>
	<key>GCM_SENDER_ID</key>
	<string>281028228126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.com.xoontec.xoonit</string>
	<key>PROJECT_ID</key>
	<string>xoonit</string>
	<key>STORAGE_BUCKET</key>
	<string>xoonit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281028228126:ios:5b5508f2a42431e8892a0f</string>
	<key>DATABASE_URL</key>
	<string>https://xoonit.firebaseio.com</string>
</dict>
</plist>