.rt-h {
	margin-bottom: 10px;
	display: flex;
    flex-direction: row;
    align-items: center;
}
.rt-h-t {
    color: blue;
    font-weight: 900;
    margin-right: 10px;
}
.rt-h-d {
    font-size: 14px;
    font-weight: 900;
}
.rt-b {
	height: calc(100% - 20px);
}