<input #numberInput
       class="{{formClass}}"
       type="text"
       id="{{id}}"
       name="{{name}}"
       value="{{value}}"
       [disabled]="disabled"
       [attr.maxlength]="maxlength"
       placeholder="{{placeholder}}"
       (change)="valueChanged($event.target.value)"
       (keydown)="onKeyDown($event)"
       (blur)="onBlur($event)"
       (focus)="onFocus($event)"
       [ngStyle]="customStyle"
       autocomplete="off" />
<div *ngIf="!!fontIcon" class="input-group-addon {{customClassAddOn}}">
    <i class="fa fa-{{fontIcon}}"></i>
</div>
