<div *ngIf="isRenderForm"
     [ngClass]="{'submitted': formGroup.submitted}"
     class="xn-form-container">
    <form [formGroup]="formGroup" id="changePasswordFormGroup" class="form-horizontal  height-pc-100">
        <control-focus #focusControl [formName]="'changePasswordFormGroup'" [focusControl]="'currentPassword'"></control-focus>
        <div class="form-group">
            <label for="password" class="control-label  col-sm-4">Current password</label>
            <div class="col-sm-8">
                <div class="full-width">
                    <input type="password"
                           class="form-control  xn-input"
                           name="currentPassword"
                           formControlName="currentPassword" />
                    <control-messages [type]="'textbox'"
                                      [control]="formGroup.controls.currentPassword"
                                      [icon]="'key'">
                    </control-messages>
                    <div *ngIf="oldPasswordIsWrong">
                        <div class="alert alert-danger">Current password is wrong</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="xn__form-header">
            <span>New password</span>
        </div>
        <div class="form-group">
            <label for="password" class="control-label  col-sm-4">New password</label>
            <div class="col-sm-8">
                <div class="full-width">
                    <input type="password"
                           class="form-control  xn-input"
                           name="password"
                           formControlName="password"
                           (keyup)="passwordKeyPess()" />
                    <control-messages [type]="'textbox'"
                                      [control]="formGroup.controls.password"
                                      [icon]="'key'">
                    </control-messages>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="control-label  col-sm-4">Retype password</label>
            <div class="col-sm-8">
                <div class="full-width">
                    <input type="password"
                           class="form-control  xn-input"
                           name="rePassword"
                           formControlName="rePassword"
                           (keyup)="passwordKeyPess()" />
                    <control-messages [type]="'textbox'"
                                      [control]="formGroup.controls.rePassword"
                                      [icon]="'key'">
                    </control-messages>

                    <div *ngIf="!passwordIsMatched">
                        <div class="alert alert-danger" *ngIf="!passwordIsMatched">Password is not match</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12  margin-top--sd  password-rule">
            <p>
                Specifies the user password the value can't be null. Password must match the following security policies:
            </p>
            <ul class="border-none">
                <li>Minimum 8 characters</li>
                <li>At least 1 Uppercase Alphabet</li>
                <li>At least 1 Lowercase Alphabet</li>
                <li>At least 1 Number</li>
                <li>At least one special</li>
            </ul>
        </div>
    </form>
</div>
