@import 'src/sass_files/color.scss';

.reset-pass-wrapper {
    .body-wrapper {
        padding: 15px 30px;

        .title-header {
            min-height: 30.8px;
        }
        .reset-type-radio div,
        .new-pass-form {
            padding: 0 30px;
        }
        .reset-type-radio div {
            ::ng-deep mat-radio-button {
                .mat-radio-label {
                    font-size: 14px;
                }
            }
        }
        .new-pass-form {
            position: relative;
            .disabled {
                pointer-events: none;
                filter: opacity(0.2);
            }

            .new-pass-control {
                padding-bottom: 30px;
                ::ng-deep {
                    .mat-form-field-wrapper {
                        padding-bottom: 0;
                    }
                    input {
                        padding-right: 70px;
                    }
                }
                .toolbar-icon {
                    position: absolute;
                    right: 0px;
                    bottom: 8.5px;
                }
                .icon-show-hide-pass {
                    position: absolute;
                    right: 40px;
                    bottom: 12px;
                    img {
                        cursor: pointer;
                    }
                }
            }
            .err-wrapper {
                position: absolute;
                top: 50px;
            }
        }
        .btn-wrapper {
            text-align: right;
        }
    }
}

.password-rule {
    color: $white;
    padding-left: 15px;

    li {
        text-align: left;
    }
}

.reset-success-wrapper {
    margin: auto;
    padding: 20px 0;
}
