<div *ngIf="!!user" class="reset-pass-wrapper">
    <div class="body-wrapper">
        <h5 class="title-header text-center">
            Do you want to reset password of account <b>{{ user.Email }}</b
            >?
        </h5>
        <mat-radio-group name="resetType" class="reset-type-radio">
            <div>
                <mat-radio-button
                    value="true"
                    class="reset-type-item"
                    color="primary"
                    [checked]="isAuto"
                    (change)="setAuto(true)"
                >
                    Auto generate new password
                </mat-radio-button>
            </div>
            <div>
                <mat-radio-button
                    value="false"
                    class="reset-type-item"
                    color="primary"
                    [checked]="!isAuto"
                    (change)="setAuto(false)"
                >
                    Type your new password
                </mat-radio-button>
            </div>
        </mat-radio-group>
        <div
            class="new-pass-form"
            [class.disabled]="isAuto"
            *ngIf="resetPassFormGroup"
            [formGroup]="resetPassFormGroup"
        >
            <mat-form-field class="dms-custom-control skin-light new-pass-control" appearance="outline">
                <input
                    matInput
                    [class.disabled]="isAuto"
                    [type]="newPasswordType"
                    [placeholder]="dataFields.NEW_PASS.placeholder$ | async"
                    [attr.name]="dataFields.NEW_PASS.controlName"
                    id="{{ dataFields.NEW_PASS.controlName }}"
                    [formControlName]="dataFields.NEW_PASS.controlName"
                    required
                    autocomplete="off"
                />
                <div class="icon-show-hide-pass" [class.disabled]="isAuto">
                    <img
                        *ngIf="newPasswordType === PASSWORD_DISPLAY_CONSTANT.PASSWORD"
                        src="public/imgs/authenticate/invisible.svg"
                        alt="hide pass"
                        (click)="showHidePassword('newPasswordType')"
                    />
                    <img
                        *ngIf="newPasswordType === PASSWORD_DISPLAY_CONSTANT.TEXT"
                        src="public/imgs/authenticate/visible.svg"
                        alt="show pass"
                        (click)="showHidePassword('newPasswordType')"
                    />
                </div>
                <div
                    class="toolbar-icon info-blue-icon"
                    #popUpload="bs-tooltip"
                    container="body"
                    data-placement="top"
                    [tooltip]="PassRuleContent"
                ></div>
            </mat-form-field>
            <div class="err-wrapper">
                <xn-error-message
                    [condition]="xnErrorMessageHelper.isRequired(resetPassFormGroup, dataFields.NEW_PASS.controlName)"
                    [fieldName]="dataFields.NEW_PASS.displayName"
                    [typeErr]="ERR_MES_TYPE_ENUM.REQUIRED"
                >
                </xn-error-message>
                <xn-error-message
                    [condition]="
                        xnErrorMessageHelper.isInvalidPattern(resetPassFormGroup, dataFields.NEW_PASS.controlName)
                    "
                    [typeErr]="ERR_MES_TYPE_ENUM.PATTERN_PASSWORD"
                ></xn-error-message>
            </div>
        </div>
        <div class="btn-wrapper">
            <button type="button" class="btn-cmd btn-cmd-default" (click)="closeDialog()">
                <label-translation [keyword]="'Cancel'"></label-translation>
            </button>
            <button
                type="button"
                class="btn-cmd btn-cmd-primary"
                (click)="submit()"
                [disabled]="!isAuto && !resetPassFormGroup?.valid"
            >
                <label-translation [keyword]="'Reset'"></label-translation>
            </button>
        </div>
    </div>
</div>
<ng-template #PassRuleContent>
    <ul class="password-rule">
        <li><label-translation [keyword]="'CHANGE_PASSWORD__PasswordMustBeMinimum'"></label-translation></li>
        <li><label-translation [keyword]="'CHANGE_PASSWORD__PasswordMustContainAMix'"></label-translation></li>
        <li><label-translation [keyword]="'CHANGE_PASSWORD__PasswordMustContainNumeric'"></label-translation></li>
        <li>
            <label-translation [keyword]="'CHANGE_PASSWORD__PasswordMustContainSpecialCharacter'"></label-translation>
        </li>
    </ul>
</ng-template>
<ng-template #ResetSuccessWithPassContent let-close="close">
    <div class="reset-success-wrapper">
        <h5 class="text-center">Password is resetted</h5>
        <h5 class="text-center">New generated password is:</h5>
        <h5 class="text-center">
            <b>{{ newPassResult }}</b>
        </h5>
        <div class="text-center">
            <button type="button" class="btn-cmd btn-cmd-default" (click)="close(); closeDialog()">
                <label-translation [keyword]="'Close'"></label-translation>
            </button>
        </div>
    </div>
</ng-template>
<ng-template #ResetSuccessWithoutPassContent let-close="close">
    <div class="reset-success-wrapper">
        <h5 class="text-center">New password is updated</h5>
        <div class="text-center">
            <button type="button" class="btn-cmd btn-cmd-default" (click)="close(); closeDialog()">
                <label-translation [keyword]="'Close'"></label-translation>
            </button>
        </div>
    </div>
</ng-template>
<ng-template #LoadingTemplate let-close="close">
    <ng-container class="xn-loading">
        <i class="fa fa-spinner fa-spin fa-2x"></i>
    </ng-container>
</ng-template>
