<div id="tab-container" [ngStyle]="tabContainerStyle">
    <div class="tab-header m-0" (click)="toggleTabHeader()">
        <xn-document-tree-header (reloadTree)="getTreeIndexing()"> </xn-document-tree-header>
    </div>
    <!-- <div class="path-folder-panel-wrapper flex-container flex-row">
        <div class="path-folder flex-container flex-row">
            <ng-template [ngIf]="pathFolder.length">
                <ul class="path" [perfectScrollbar]="{ suppressScrollY: true, suppressScrollX: false, useBothWheelAxes: true }">
                    <li class="folder-name" *ngFor="let path of pathFolder">{{path}}</li>
                </ul>
            </ng-template>
        </div>
    </div> -->
    <div class="tree-widget position-relative" [ngStyle]="treeWidgetContainerStyle">
        <xn-document-tree
            [dataTree]="documentsFolder"
            #xnDocumentTree
            [modeTree]="modeTree"
            [shouldGetDocumentQuantity]="shouldGetDocumentQuantity"
            (onClickOnNode)="clickOnNode($event)"
            (onDblClickOnNode)="dblClickOnNode($event)"
            (okActionFolder)="okActionFolderName($event)"
            (cancelActionFolder)="cancelActionFolderName($event)"
            (onRightClickOnNode)="rightClickOnNode($event)"
            (onRightClickOnTree)="rightClickOnTree($event)"
        >
            <!--<ng-template #rightClickMenuOnNode let-node="node" let-treeComponent="treeComponent">
                <div class="context-menu-item cursor-pointer">
                    <div class="d-flex flex-row">
                        <mat-slide-toggle color="primary" [ngModel]="node.data.visible" (ngModelChange)="toggleVisibleFolder({ event: $event, node: node })">
                            {{ node.data.visible ? 'Active Folder' : 'Inactive Folder' }}
                        </mat-slide-toggle>
                    </div>
                </div>
                <div class="context-menu-item cursor-pointer" (click)="addSubfolder({ event: $event, node: node })">
                    <div class="d-flex flex-row">
                        <mat-icon [svgIcon]="IconNamesEnum.APP_ADD_FILE" inline="true"></mat-icon>
                        <div>Create Subfolder</div>
                    </div>
                </div>               
                <div class="context-menu-item cursor-pointer" (click)="renameFolder({ event: $event, node: node })"
                     *ngIf="!node.data.isReadOnly">
                    <div class="d-flex flex-row">
                        <mat-icon [svgIcon]="IconNamesEnum.APP_WRITE_FILE" inline="true"></mat-icon>
                        <div>Rename folder</div>
                    </div>
                </div>
                <div class="context-menu-item cursor-pointer" (click)="deleteFolder({ event: $event, node: node })"
                     *ngIf="!node.data.isReadOnly">
                    <div class="d-flex flex-row">
                        <mat-icon [svgIcon]="IconNamesEnum.APP_BIN_TRASH" inline="true"></mat-icon>
                        <div>Delete folder</div>
                    </div>
                </div>
                <div class="context-menu-item cursor-pointer" (click)="newFolder({ event: $event, treeComponent: treeComponent })">
                    <div class="d-flex flex-row">
                        <mat-icon [svgIcon]="IconNamesEnum.APP_USER_MAN_ADD" inline="true"></mat-icon>
                        <div>New root folder</div>
                    </div>
                </div>
            </ng-template>-->

            <!--<ng-template #rightClickMenuOnTree let-treeComponent="treeComponent"
                         let-closeContextMenuFunc="closeContextMenuFunc">
                <div class="context-menu-item cursor-pointer" (click)="newFolder({ event: $event, treeComponent: treeComponent })">
                    <div class="d-flex flex-row">
                        <mat-icon [svgIcon]="IconNamesEnum.APP_USER_MAN_ADD" inline="true"></mat-icon>
                        <div>New folder</div>
                    </div>
                </div>
            </ng-template>-->
        </xn-document-tree>
    </div>
</div>

<ng-template #activeFolderTemplate let-node="node" let-treeComponent="treeComponent">
    <div class="context-menu-item cursor-pointer">
        <div class="d-flex flex-row justify-content-center align-items-center">
            <mat-slide-toggle color="primary" [ngModel]="node.data.visible">
                {{ node.data.visible ? 'Active Folder' : 'Inactive Folder' }}
            </mat-slide-toggle>
        </div>
    </div>
</ng-template>
<ng-template #createSubFolderTemplate>
    <div class="context-menu-item cursor-pointer">
        <div class="d-flex flex-row justify-content-center align-items-center">
            <mat-icon [svgIcon]="IconNamesEnum.APP_ADD_FILE" inline="true"></mat-icon>
            <div>Create Subfolder</div>
        </div>
    </div>
</ng-template>
<ng-template #renameFolderTemplate let-node="node" let-treeComponent="treeComponent">
    <div class="context-menu-item cursor-pointer" *ngIf="!node.data.isReadOnly">
        <div class="d-flex flex-row justify-content-center align-items-center">
            <mat-icon [svgIcon]="IconNamesEnum.APP_WRITE_FILE" inline="true"></mat-icon>
            <div>Rename folder</div>
        </div>
    </div>
</ng-template>
<ng-template #deleteFolderTemplate let-node="node" let-treeComponent="treeComponent">
    <div
        class="context-menu-item cursor-pointer"
        (click)="deleteFolder({ event: $event, node: node })"
        *ngIf="!node.data.isReadOnly"
    >
        <div class="d-flex flex-row justify-content-center align-items-center">
            <mat-icon [svgIcon]="IconNamesEnum.APP_BIN_TRASH" inline="true"></mat-icon>
            <div>Delete folder</div>
        </div>
    </div>
</ng-template>
<ng-template #userPermissionTemplate>
    <div class="context-menu-item cursor-pointer">
        <div class="d-flex flex-row justify-content-center align-items-center">
            <mat-icon class="user-permission0icon" [svgIcon]="IconNamesEnum.MEMBER_PERMISSION" inline="true"></mat-icon>
            <div>Permission</div>
        </div>
    </div>
</ng-template>
<ng-template #newRootFolderTemplate let-node="node" let-treeComponent="treeComponent">
    <div class="context-menu-item cursor-pointer">
        <div class="d-flex flex-row justify-content-center align-items-center">
            <mat-icon class="new-folder-icon" [svgIcon]="IconNamesEnum.TREE_FOLDER" inline="true"></mat-icon>
            <div>New folder</div>
        </div>
    </div>
</ng-template>
