.e-p {
	height: 30px;
	margin-top: 25px;
}
.t-r {
	float: left;
}
.t-d {
	float: left;
	margin-left: 50px;
}
.m-l {
	line-height: 40px;
}
.m-c {
	padding-right: 0;
	padding-top: 5px;
}
button {
	width: 150px;
    height: 40px;
    font-size: 15px;

    i {
    	font-size: 25px;
    }
}
