.blank-widget-container {
    width: 100%;
    height: 100%;
    border: dashed 1px #cdc2c2;

    .remove-box {
        color: #cc2828;
        background: transparent;
        box-shadow: none;
    }

    &.view-mode {
        border: none;
        .remove {
            display: none;
        }
    }
}
