<div class="widget-elastic-search-container">
    <div class="input-wrapper">
        <app-xn-input-debounce
            [value]="keyword" 
            [delayTimer]="800"
            [placeholder]="'Suchen nach schlüsselwort'"
            [hasSearchButton]="true"
            [isLoading]="isSearching"
            [hasIndicator]="true"
            (onValueChanged)="search($event)"
            (onSearchButtonClicked)="search($event)"></app-xn-input-debounce>
    </div>
    
    <div class="gs-result-wrapper"> 
        <gs-result
            #gsResult
            [keyword]="keyword"
            [searchWithStarPattern]="'Both_*X*'"
            [gridId]="'04f713be-dc86-4906-91ca-2d855f216c0b'"
            [searchIndex]="moduleFromRoute.searchIndexKey"
            [isWithStar] ="isWildStar"
            [module]="moduleFromRoute"
            [dontAllowSearchWhenInit]="true"
            (onRowClicked)="rowClicked($event)"
            (onRowDoubleClicked)="rowDoubleClicked($event)"
            (onSearchCompleted)="onSearchCompleted($event)"></gs-result>
    </div>
</div>