<div class="authenticate forgot row">
    <div class="col-xs-6 display-flex left-side">
        <div class="mydm-logo cusor-pointer" (click)="redirectToRootPage()">
        </div>
        <div class="flex-middle w-100">
            <div class="text-center welcome-image">
                <img src="public/imgs/authenticate/welcome-image.svg" alt="welcome-img">
            </div>
        </div>
    </div>
    <div class="col-xs-6 display-flex right-side h-100">
        <div class="flex-middle w-100">
            <div class="bar-back" (click)="backToLogin()">
                <img src="public/imgs/authenticate/standard_action_arrow-left.svg" alt="back icon">
                <span><label-translation [keyword]="'FORGOT_PASSWORD__Back'"></label-translation></span>
            </div>
            <h1 class="mydm-header"><label-translation [keyword]="'FORGOT_PASSWORD__Header'"></label-translation></h1>
            <form *ngIf="forgotPassForm" [formGroup]="forgotPassForm" autocomplete="off">
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <mat-form-field appearance="outline" class="xoonit-control">
                            <mat-label><label-translation [keyword]="dataFields.EMAIL.displayName"></label-translation></mat-label>
                            <input matInput xnEnteBreakDown [xnControlsData]="controlDataList" type="text"
                                [placeholder]="dataFields.EMAIL.displayName" [attr.name]="dataFields.EMAIL.controlName"
                                id="{{dataFields.EMAIL.controlName}}" [formControlName]="dataFields.EMAIL.controlName"
                                required autocomplete="off">
                        </mat-form-field>
                        <xn-error-message
                            [condition]="xnErrorMessageHelper.isRequired(forgotPassForm, dataFields.EMAIL.controlName)"
                            [fieldName]="dataFields.EMAIL.displayName" [typeErr]="ERR_MES_TYPE_ENUM.REQUIRED">
                        </xn-error-message>
                        <xn-error-message
                            [condition]="xnErrorMessageHelper.isInvalidPattern(forgotPassForm, dataFields.EMAIL.controlName)"
                            [typeErr]="ERR_MES_TYPE_ENUM.PATTERN_EMAIL"></xn-error-message>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-submit" [disabled]="!forgotPassForm.valid"
                        (click)="onSubmit()"><label-translation [keyword]="'FORGOT_PASSWORD__Submit'"></label-translation></button>
                </div>
                <div>
                    <xn-error-message [condition]="errHandleMes.isError" [errMes]="errHandleMes.message"
                        [typeErr]="ERR_MES_TYPE_ENUM.CUSTOM_MESSAGE">
                    </xn-error-message>
                </div>
            </form>
        </div>
    </div>
</div>