<div class="mydm-summary-wrapper" perfectScrollbar>
    <div class="tree-node root">
        <div class="total-doc node">
            <div class="dot-line">
                <div class="dot"></div>
            </div>
            <div class="node-content-wrapper">
                <label class="total-doc-label">Total Doc</label>
                <span class="total-doc-value">99+</span>
            </div>
        
            <div class="tree-node child">
                <div class="total-invoice node">
                    <div class="dot-line">
                        <div class="dot"></div>
                    </div>
                    <div class="node-content-wrapper">
                        <label class="total-invoice-label">Invoice</label>
                        <span class="total-invoice-value">30</span>
                    </div>
                </div>
                
                <div class="total-expense node">
                    <div class="dot-line">
                        <div class="dot"></div>
                    </div>
                    <div class="node-content-wrapper">
                        <label class="total-expense-label">Expense</label>
                        <span class="total-expense-value">50</span>
                    </div>
                </div>
                
                <div class="total-document node">
                    <div class="dot-line">
                        <div class="dot"></div>
                    </div>
                    <div class="node-content-wrapper">
                        <label class="total-document-label">Document</label>
                        <span class="total-document-value">80</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="total-size node">
            <div class="dot-line">
                <div class="dot"></div>
            </div>
            <div class="node-content-wrapper">
                <label class="total-size-label">Total Size</label>
                <span class="total-size-value">120GB</span>
            </div>
        </div>
    </div>
</div>