:host {
    display: block;
    width: 100%;
    height: 100%;
    .widget-header {
        padding: 3px 10px;
        font-family: 'rbt_Bold';
        .title {
            white-space: nowrap;
            flex: 1;
        }
    }
    .table-mandant {
        ::ng-deep {
            .ag-theme-balham {
                .ag-row-selected {
                    background-color: #b7e4ff !important;
                }
            }
        }
    }
}

.popup-content {
    width: 400px;
    max-height: 400px;
}

.mandant-overview {
    height: 100%;
    &__content {
        margin-top: 5px;
        height: calc(100% - 45px);
    }

    .toolbar-icon {
        min-width: 28px;
    }
}

.container--disabled {
    pointer-events: none;
}
