@import 'src/sass_files/color.scss';

#user-dropdown {
    height: 53px;
    line-height: 25px;
    float: right;

    .avatar-container {
        display: flex;
        // align-items: center;
        justify-content: space-around;
    }

    .nickname-text, .id-login-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        text-align: left;
        margin-right: 15px;
        font-family: 'rbt_Regular';
    }
}

img {
    object-fit: cover;
}

.dropdown-menu {
    // height: 153px;
    width: 260px;
    border-radius: 10px !important;
    // width: 460px !important;
    // right: -97px !important;
    box-shadow: -3px 5px 10px 0px $gray36;
    border-color: $gray37;
    padding-top: 0 !important;
    padding-bottom: 10px;
    margin-top: 3px !important;
    left: -100% !important;
    @media (max-width: 767px) {
        left: 5% !important;
        width: 90% !important;
    }

    &::before {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: inherit;
        right: 18px;
        top: -4px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);

        @media (max-width: 767px) {
            right: 118px;
        }
    }

    .amd-link {
        color: #0091ff !important;
        font-size: 14px;
        cursor: pointer;
    }

    .logout-button {
        margin-right: 13px;
        display: flex;

        button {
            border-radius: 5px;
        }

        .version-supplier {
            width: 164px;
            max-width: 164px;
            white-space: nowrap;
            letter-spacing: .3px;
            padding-left: 10px;
            font-size: 11px;
            font-style: italic;
            color: #000;
            div {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .hr-splitter {
        margin: 9px 0px;
    }
}

.scrollbar-container {
    max-height: calc(100vh - 57px);
}

.loading-spinner {
    margin-top: 19px;
    font-size: 24px;
}

.role-combobox {
    max-width: 150px;
    padding-left: 0;
    height: 30px;
}

.card {
    padding-top: 20px;
    margin: 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .card-heading {
        padding: 0 20px;
        margin: 0;

        &.simple {
            font-size: 20px;
            font-weight: 300;
            color: #777;
            border-bottom: 1px solid #e5e5e5;
        }

        &.image {
            img {
                display: inline-block;
                width: 46px;
                height: 46px;
                margin-right: 15px;
                vertical-align: top;
                border: 0;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }

            .card-heading-header {
                display: inline-block;
                vertical-align: top;

                h3 {
                    margin: 0;
                    font-size: 14px;
                    line-height: 16px;
                    color: #262626;
                }

                span {
                    font-size: 12px;
                    color: #999999;
                }
            }
        }
    }

    .card-body {
        padding: 0 20px;
        margin-top: 20px;
    }

    .card-media {
        padding: 0 20px;
        margin: 0 -14px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .card-actions {
        min-height: 30px;
        padding: 0 20px 20px 20px;
        margin: 20px 0 0 0;
    }

    .card-comments {
        padding: 20px;
        margin: 0;
        background-color: #f8f8f8;

        .comments-collapse-toggle {
            padding: 0;
            margin: 0 20px 12px 20px;

            a,
            span {
                padding-right: 5px;
                overflow: hidden;
                font-size: 12px;
                color: #999;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .media-heading {
            font-size: 13px;
            font-weight: bold;
        }
    }

    &.hovercard {
        position: relative;
        padding-top: 0;
        padding-bottom: 10px;
        overflow: hidden;
        text-align: center;
        background-color: rgba(214, 224, 226, 0.2);

        .cardheader {
            background: url('~/public/assets/img/tree.jpg');
            background-size: cover;
            height: 90px;
            webkit-filter: blur(2px);
            -moz-filter: blur(2px);
            -o-filter: blur(2px);
            -ms-filter: blur(2px);
            filter: blur(2px);
        }

        .avatar {
            position: relative;
            top: -50px;
            margin-bottom: -50px;

            img {
                display: unset !important;
                width: 100px;
                height: 100px;
                max-width: 100px;
                max-height: 100px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                border: 5px solid rgba(255, 255, 255, 0.5);
            }
        }

        .info {
            padding: 4px 0 10px;

            .title {
                margin-bottom: 4px;
                font-size: 24px;
                line-height: 1;
                color: #262626;
                vertical-align: middle;
            }

            .desc {
                overflow: hidden;
                font-size: 12px;
                line-height: 20px;
                color: #737373;
                text-overflow: ellipsis;
            }
        }
    }
}

.user-rectangle-shape {
    border-radius: 10px;

    & .user-rectangle-shape-wrapper {
        margin-top: 19px;
        display: flex;
        flex-flow: row wrap;

        .avatar {
            flex-basis: 40%;
        }

        & .user-info-wrapper {
            display: flex;
            flex-flow: column wrap;
            flex-basis: 56%;
            color: $blue-4;

            .role-text {
                font-size: 14px;
                font-family: 'rbt_Medium';
                text-transform: uppercase;
            }

            & .nickname-text,.id-login-text {
                font-size: 14px;
            }

            & .logintime-text {
                font-size: 10px;
            }

            & .hr-splitter {
                width: 100%;
                margin: 9px 0px;
            }
        }
    }
}
