:host {
    .toolbar-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: rbt_Bold;
        font-weight: 500;
        margin-top: -8px;
        & > * {
            margin-right: 1rem;
            .icon,
            .toolbar-icon {
                cursor: pointer;
                margin: 0 8px 0 0;
            }
            &.left {
                &.disabled {
                    opacity: 0.4;
                    pointer-events: none;
                }
            }
        }
    }
    .spinner {
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
        margin: 0 1rem;
    }
}

#document-viewer-loading {
    display: none;
}
