.card {
    /*box-shadow: 3px 3px 10px 0px #c4c4c4;*/
    transition: 0.3s;
    width: 154px;
    height: 154px;
    margin: 10px;
    background-color: white;
    cursor: pointer;
    padding: 5px 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #c8e8fb;
}

table {
    width: 100%;

    /*tr {
        height: 28px;
        line-height: 28px;
        font-size: 14px;
    }*/
}

.header-row {
    font-weight: bold;
}

.field-value-cell {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
