<div class="dynamic-field-container h-100 w-100">
    <div mat-dialog-title class="d-flex flex-row">
        <h5 class="w-100 text-center m-auto"><label-translation [keyword]="'DYNAMIC_DIALOG__Header'"></label-translation></h5>
        <button mat-button mat-icon-button aria-label="Close" tabIndex="-1" [mat-dialog-close]="dynamicFields">
            <mat-icon style="font-size: 20px">close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content class="w-100 m-auto p-0 overflow-unset" [formGroup]="formGroup">
        <ng-container *ngFor="let controlConfig of controlConfigs">
            <xn-dynamic-material-control
                [config]="controlConfig"
                formControlName="{{ controlConfig.formControlName }}"
                (controlValueChanged)="selectDynamicOption($event)"
                [formGroup]="formGroup"
            >
            </xn-dynamic-material-control>
        </ng-container>
    </div>
    <div mat-dialog-actions class="d-flex flex-row justify-content-center">
        <button
            mat-flat-button
            style="background-color: #deebff; color: black; width: 48%"
            (click)="addAndClose($event)"
        >
            <label-translation [keyword]="'DYNAMIC_DIALOG__AddBtn'"></label-translation>
        </button>
        <button style="width: 48%" mat-flat-button color="primary" (click)="addAndContinue($event)">
            <label-translation [keyword]="'DYNAMIC_DIALOG__AddAndContinueBtn'"></label-translation>
        </button>
    </div>
</div>
