<div class="widget-header"></div>
<div *ngIf="form" class="dms-list-widget scroll-bar-custom">
    <div class="dms-widget">
        <form [formGroup]="form">
            <div class="row dms-flex dms-header">
                <div class="col-sm-8 col-md-7">
                    <div>{{data.nameForm}}</div>
                </div>
            </div>
            <div *ngFor="let item of getListControlWithoutHiddenAndReadOnly(data.listControl)">
                <div class="form-group">
                    <control-dynamic [controlData]="item" [form]="form"
                        [listControlData]="getListControlWithoutHiddenAndReadOnly(data.listControl)"></control-dynamic>
                </div>
            </div>
        </form>
    </div>
</div>