<div *ngIf="page && page.PageId && ofModuleLocal"
     id="{{page.PageId || ''}}"
     [perfectScrollbar]="perfectScrollbarConfig"
     class="single-page-view" [ngSwitch]="ofModuleLocal.idSettingsGUI">
    <!--Tool Management-->
    <div *ngSwitchCase="'36'" class="height-100-pc">
        <!--<app-tool-container [isActivated]="isActivated"
                            [pageId]="page.PageId"
                            [tabID]="tabID"
                            (onWidgetDeleted)="refreshPerfectScrollbar($event)"></app-tool-container>-->
    </div>
    <!-- Widget Default-->
    <widget-container *ngSwitchDefault
                      [isActivated]="isActivated"
                      [pageId]="page.PageId"
                      [tabID]="tabID"
                      [isSplitterDragging]="isSplitterDragging"
                      (onWidgetDeleted)="refreshPerfectScrollbar($event)">
    </widget-container>
</div>
