@import "src/sass_files/color.scss";

:host {
    .invoice-form-container {
        overflow: hidden;
        .form-wrapper {
            display: grid;
            grid-template-columns: repeat(2, min(150px, 150px));
            grid-template-rows: repeat(auto-fill);
            padding: 5px;
            .grid-item {
                display: flex;
                position: relative;
                align-items: center;
                margin: 5px 5px;
                &:after {
                    content: ' ';
                    display: block;
                    position: absolute;
                    width: 100vw;
                    height: 1px;
                    bottom: 0;
                    background-color: $blue-link-water2;
                }
                &.d-none {
                    margin: 0;
                }
                &.invisible {
                    pointer-events: none;
                }
                &.invoice-addon-note {
                    width: 180px;
                    height: 32px;
                    mat-form-field {
                        ::ng-deep {
                            input {
                                font-size: 1.35rem;
                                font-family: "Roboto";
                            }
                            label {
                                transform: scale(0.75) perspective(100px);
                                mat-label {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                        &.mat-form-field-should-float {
                            ::ng-deep {
                                label {
                                    transform: translateY(-1.20125em) scale(0.75) perspective(100px) translateZ(0.001px);
                                }
                            }
                        }
                    }
                }
                &.guarantee-expiry {
                    ::ng-deep {
                        .form-control-wrapper {
                            width: 180px !important;
                            height: 55px;
                            mat-form-field {
                                .mat-form-field-label-wrapper {
                                    & > label {
                                        min-width: 160px;
                                    }
                                }
                            }
                            mat-error {
                                transform: translateY(-15px);
                            }
                        }
                    }
                }
                .icon {
                    font-size: 14px;
                    color: $blue-5;
                    margin: -2px 5px 0;
                    &:not(.invisible) {
                        cursor: pointer;
                    }
                }
                ::ng-deep {
                    xn-material-checkbox-control {
                        .form-control-wrapper {
                            padding: 3px 0 0 3px;
                        }
                    }
                }
            }
        }
    }
}

// ::ng-deep {
//     .invoice-addon-note {
//         display: flex;
//         align-items: center;
//         width: 300px;
//         height: 25px;
//         z-index: 1030;
//         mat-form-field {
//             margin: 0 0 0 5px;
//             ::ng-deep {
//                 input {
//                     font-size: 1.35rem;
//                     font-family: "Roboto";
//                 }
//                 .mat-form-field-label {
//                     transform: scale(0.75) perspective(100px);
//                     mat-label {
//                         font-size: 1.5rem;
//                     }
//                 }
//             }
//         }
//     }
// }
