.report-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.report-viewer {
    overflow: auto;
    background: white;
    width: 100%;
    height: 100%;
}

:host ::ng-deep .stiJsViewerToolBar > div {
    padding-top: 0 !important;
}

:host ::ng-deep .stiJsViewerReportPanel {
    overflow: auto !important;
}

.report-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: lightgray;
    opacity: 0.6;
}

.report-loading .fa {
    position: absolute;
    top: 45%;
    left: 45%;
}
