<div class="change-pass" *ngIf="!isLoginSuccess">
    <div class="nav-header">
        <div class="wrapper-logo display-flex ">
            <img class="cusor-pointer flex-middle" src="public/imgs/authenticate/xoonit-logo-lightMode.svg" alt="logo"
                 (click)="redirectToRootPage()">
        </div>
    </div>
    <div class="authenticate row">
        <!-- website -->
        <div class="col-md-6 left-side no-background display-flex h-100 hidden-xs hidden-sm">
            <div class="flex-middle w-100">
                <h1 class="mydm-header">
                    <label-translation [keyword]="'CHANGE_PASSWORD__ChangePassword'"></label-translation>
                </h1>
                <form *ngIf="changePassFormGroup" [formGroup]="changePassFormGroup" autocomplete="off">
                    <div class="form-group pass-row">
                        <mat-form-field class="dms-custom-control skin-light">
                            <mat-label><label-translation [keyword]="dataFields.NEW_PASS.displayName"></label-translation></mat-label>
                            <input matInput xnEnteBreakDown [xnControlsData]="controlDataList" [type]="newPasswordType"
                                   [placeholder]="dataFields.NEW_PASS.placeholder$ | async" [attr.name]="dataFields.NEW_PASS.controlName"
                                   id="{{dataFields.NEW_PASS.controlName}}" [formControlName]="dataFields.NEW_PASS.controlName"
                                   (keyup)="checkMatchingPass()" required autocomplete="off">
                        </mat-form-field>
                        <xn-error-message [condition]="xnErrorMessageHelper.isRequired(changePassFormGroup, dataFields.NEW_PASS.controlName)"
                                          [fieldName]="dataFields.NEW_PASS.displayName" [typeErr]="ERR_MES_TYPE_ENUM.REQUIRED">
                        </xn-error-message>
                        <xn-error-message [condition]="xnErrorMessageHelper.isInvalidPattern(changePassFormGroup, dataFields.NEW_PASS.controlName)"
                                          [typeErr]="ERR_MES_TYPE_ENUM.PATTERN_PASSWORD"></xn-error-message>
                        <div class="icon-show-hide-pass">
                            <img class="icon-transform" *ngIf="newPasswordType === PASSWORD_DISPLAY_CONSTANT.PASSWORD"
                                 src="public/imgs/authenticate/invisible.svg" alt="hide pass"
                                 (click)="showHidePassword('newPasswordType')">
                            <img class="icon-transform" *ngIf="newPasswordType === PASSWORD_DISPLAY_CONSTANT.TEXT" src="public/imgs/authenticate/visible.svg"
                                 alt="show pass" (click)="showHidePassword('newPasswordType')">
                        </div>
                    </div>
                    <div class="form-group pass-row">
                        <mat-form-field class="dms-custom-control skin-light">
                            <mat-label><label-translation [keyword]="dataFields.CONFIRM_PASS.displayName"></label-translation></mat-label>
                            <input matInput xnEnteBreakDown [xnControlsData]="controlDataList" [type]="confirmPasswordType"
                                   [placeholder]="dataFields.CONFIRM_PASS.placeholder$ | async" [attr.name]="dataFields.CONFIRM_PASS.controlName"
                                   id="{{dataFields.CONFIRM_PASS.controlName}}" [formControlName]="dataFields.CONFIRM_PASS.controlName"
                                   (keyup)="checkMatchingPass()" autocomplete="off">
                        </mat-form-field>
                        <xn-error-message [condition]="xnErrorMessageHelper.isMatchPass(changePassFormGroup, dataFields.CONFIRM_PASS.controlName, isMatchingPass)"
                                          [fieldName]="dataFields.CONFIRM_PASS.displayName" [typeErr]="ERR_MES_TYPE_ENUM.PASSWORD_NOT_MATCH">
                        </xn-error-message>
                        <div class="icon-show-hide-pass">
                            <img class="icon-transform" *ngIf="confirmPasswordType === PASSWORD_DISPLAY_CONSTANT.PASSWORD"
                                 src="public/imgs/authenticate/invisible.svg" alt="hide pass"
                                 (click)="showHidePassword('confirmPasswordType')">
                            <img class="icon-transform" *ngIf="confirmPasswordType === PASSWORD_DISPLAY_CONSTANT.TEXT"
                                 src="public/imgs/authenticate/visible.svg" alt="show pass"
                                 (click)="showHidePassword('confirmPasswordType')">
                        </div>
                    </div>
                    <div class="form-group">
                        <ul class="password-rule">
                            <li><label-translation [keyword]="'CHANGE_PASSWORD__PasswordMustBeMinimum'"></label-translation></li>
                            <li><label-translation [keyword]="'CHANGE_PASSWORD__PasswordMustContainAMix'"></label-translation></li>
                            <li><label-translation [keyword]="'CHANGE_PASSWORD__PasswordMustContainNumeric'"></label-translation></li>
                            <li><label-translation [keyword]="'CHANGE_PASSWORD__PasswordMustContainSpecialCharacter'"></label-translation></li>
                        </ul>
                    </div>
                    <div class="form-group wrapper-button text-right">
                        <button type="button" class="btn-xoonit default" (click)="redirectToLogin()">Cancel</button>
                        <button type="submit" class="btn-xoonit primary" (click)="submit()"
                                [disabled]="!(changePassFormGroup.valid && isMatchingPass)">
                                <label-translation [keyword]="'Save'"></label-translation>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 display-flex h-100 hidden-xs hidden-sm">
            <img src="public/imgs/authenticate/bg_change_pass.svg" alt="image right-side" class="flex-middle img-right-side">
        </div>

        <!-- mobile -->
        <div class="col-xs-12 hidden-md hidden-lg right-side mobile-screen">
            <img src="public/imgs/authenticate/bg_change_pass.svg" alt="image right side" class="flex-middle img-right-side">
        </div>
        <div class="col-xs-12 left-side no-background hidden-md hidden-lg mobile-screen">
            <div class="mydm-header"><label-translation [keyword]="'CHANGE_PASSWORD__ChangePassword'"></label-translation></div>
            <form *ngIf="changePassFormGroup" [formGroup]="changePassFormGroup" autocomplete="off">
                <div class="form-group pass-row">
                    <mat-form-field class="dms-custom-control skin-light">
                        <mat-label>{{dataFields.NEW_PASS.displayName}}</mat-label>
                        <input matInput xnEnteBreakDown [xnControlsData]="controlDataList" [type]="newPasswordType"
                               [placeholder]="dataFields.NEW_PASS.placeholder$ | async" [attr.name]="dataFields.NEW_PASS.controlName"
                               id="{{dataFields.NEW_PASS.controlName}}" [formControlName]="dataFields.NEW_PASS.controlName"
                               (keyup)="checkMatchingPass()" required autocomplete="off">
                    </mat-form-field>
                    <xn-error-message [condition]="xnErrorMessageHelper.isRequired(changePassFormGroup, dataFields.NEW_PASS.controlName)"
                                      [fieldName]="dataFields.NEW_PASS.displayName" [typeErr]="ERR_MES_TYPE_ENUM.REQUIRED">
                    </xn-error-message>
                    <xn-error-message [condition]="xnErrorMessageHelper.isInvalidPattern(changePassFormGroup, dataFields.NEW_PASS.controlName)"
                                      [typeErr]="ERR_MES_TYPE_ENUM.PATTERN_PASSWORD"></xn-error-message>
                    <div class="icon-show-hide-pass">
                        <img *ngIf="newPasswordType === PASSWORD_DISPLAY_CONSTANT.PASSWORD"
                             src="public/imgs/authenticate/invisible.svg" alt="hide pass"
                             (click)="showHidePassword('newPasswordType')">
                        <img *ngIf="newPasswordType === PASSWORD_DISPLAY_CONSTANT.TEXT" src="public/imgs/authenticate/visible.svg"
                             alt="show pass" (click)="showHidePassword('newPasswordType')">
                    </div>
                </div>
                <div class="form-group pass-row">
                    <mat-form-field class="dms-custom-control skin-light">
                        <mat-label>{{dataFields.CONFIRM_PASS.displayName}}</mat-label>
                        <input matInput xnEnteBreakDown [xnControlsData]="controlDataList" [type]="confirmPasswordType"
                               [placeholder]="dataFields.CONFIRM_PASS.placeholder$ | async" [attr.name]="dataFields.CONFIRM_PASS.controlName"
                               id="{{dataFields.CONFIRM_PASS.controlName}}" [formControlName]="dataFields.CONFIRM_PASS.controlName"
                               (keyup)="checkMatchingPass()" autocomplete="off">
                    </mat-form-field>
                    <xn-error-message [condition]="xnErrorMessageHelper.isMatchPass(changePassFormGroup, dataFields.CONFIRM_PASS.controlName, isMatchingPass)"
                                      [fieldName]="dataFields.CONFIRM_PASS.displayName" [typeErr]="ERR_MES_TYPE_ENUM.PASSWORD_NOT_MATCH">
                    </xn-error-message>
                    <div class="icon-show-hide-pass">
                        <img *ngIf="confirmPasswordType === PASSWORD_DISPLAY_CONSTANT.PASSWORD"
                             src="public/imgs/authenticate/invisible.svg" alt="hide pass"
                             (click)="showHidePassword('confirmPasswordType')">
                        <img *ngIf="confirmPasswordType === PASSWORD_DISPLAY_CONSTANT.TEXT"
                             src="public/imgs/authenticate/visible.svg" alt="show pass"
                             (click)="showHidePassword('confirmPasswordType')">
                    </div>
                </div>
                <div class="form-group">
                    <ul class="password-rule">
                        <li><label-translation [keyword]="'CHANGE_PASSWORD__PasswordMustBeMinimum'"></label-translation></li>
                        <li><label-translation [keyword]="'CHANGE_PASSWORD__PasswordMustContainAMix'"></label-translation></li>
                        <li><label-translation [keyword]="'CHANGE_PASSWORD__PasswordMustContainNumeric'"></label-translation></li>
                        <li><label-translation [keyword]="'CHANGE_PASSWORD__PasswordMustContainSpecialCharacter'"></label-translation></li>
                    </ul>
                </div>
                <div class="form-group wrapper-button text-right">
                    <button type="button" class="btn-xoonit default" (click)="redirectToLogin()">Cancel</button>
                    <button type="submit" class="btn-xoonit primary" (click)="submit()"
                            [disabled]="!(changePassFormGroup.valid && isMatchingPass)">
                            <label-translation [keyword]="'Save'"></label-translation>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="isLoading" class="xn-loading">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
</div>
<div id="page-loading" *ngIf="isLoginSuccess">
    <img id="background-img" src="public/assets/img/sky-bg.jpg" />
    <img id="loading-img" src="public/assets/img/page-loading.gif" />
</div>
