@import '../user.authentication.scss';

.change-pass {
    .nav-header {
        padding: 0 68px;
        height: 92px;
        background-color: $blue-12;

        @media (max-width: 768px) {
            margin: 0 5px;
        }

        .wrapper-logo {
            height: 100%;
            width: 100%;
            border-bottom: 1px solid $blue-2;

            @media (max-width: 768px) {
                border-bottom: 0;
            }
        }
    }
}

.authenticate {
    height: calc(100vh - 92px);
    padding: 5% 12%;

    form {
        width: 75%;
    }

    .mydm-header {
        margin-bottom: 70px;
    }

    .right-side {
        .img-right-side {
            margin-left: 20%;
        }

        &.mobile-screen {
            margin-top: 20px;
            .img-right-side {
                margin-left: 0;
                height: 140px;
            }
        }
    }

    .left-side {
        &.mobile-screen {
            padding: 0;

            .mydm-header {
                margin-top: 15px;
                font-size: 24px;
                margin-bottom: 30px;
            }

            form {
                width: 100%;
            }
        }
    }
}
