<div class="form-control-wrapper" [ngStyle]="config?.style" [formGroup]="formGroup" enterNextFocus>
    <mat-form-field
        [ngClass]="{ 'mat-field-invalid-disabled': !!formGroup.controls[config.formControlName].errors }"
        class="w-100"
        attr.control-key="{{ config.formControlName }}"
                    (mouseenter)="onMouseEnter(formGroup.controls[config.formControlName])"
                    (mouseleave)="onMouseLeave(formGroup.controls[config.formControlName])"
                    (dblclick)="onDblClick(formGroup.controls[config.formControlName])">
        <mat-label>
            <label-translation [keyword]="config.label"></label-translation>
        </mat-label>
        <input matInput
               [matDatepicker]="picker"
               [formControlName]="config.formControlName"
               [attr.maxLength]="config.maxLength"
               [attr.pattern]="config.setting?.Validators?.Pattern?.Regex"
               (keydown.space)="open()"
               (keydown.escapse)="close()"
               (keypress)="keyPress($event)"
               (dateChange)="dateChanged($event)"
               (focus)="onFocus(formGroup.controls[config.formControlName]); picker.open()"
               (blur)="onBlur(formGroup.controls[config.formControlName])" />
        <button mat-button
                *ngIf="config.showBtnClearValue"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                tabIndex="-1"
                (mousedown)="clearCtrlValue(formGroup.controls[config.formControlName])">
            <mat-icon [ngStyle]="ngStyleMatIcon">close</mat-icon>
        </button>
        <mat-datepicker-toggle tabIndex="-1" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <!--<mat-error *ngIf="formGroup.controls[config.formControlName].errors?.matDatepickerParse">
            {{ config.label }} <label-translation [keyword]="'COMMON_LABEL__invalid_date_format'"></label-translation>
        </mat-error>

        <mat-error *ngIf="formGroup.controls[config.formControlName].errors?.required">
            {{ config.label }} <label-translation [keyword]="'COMMON_LABEL__is_required'"></label-translation>
        </mat-error>
        <mat-error *ngIf="formGroup.controls[config.formControlName].errors?.maxlength">
            This field is required max length as
            {{ formGroup.controls[config.formControlName].errors?.maxlength.requiredLength }}
        </mat-error>
        <mat-error *ngIf="formGroup.controls[config.formControlName].errors?.pattern">
            {{ config.setting?.Validators?.Pattern.Message }}
        </mat-error>-->
    </mat-form-field>

    <mat-error class='translateY' *ngIf="formGroup.controls[config.formControlName].errors?.matDatepickerParse">
        {{ config.label }} <label-translation [keyword]="'COMMON_LABEL__invalid_date_format'"></label-translation>
    </mat-error>

    <mat-error class='translateY' *ngIf="formGroup.controls[config.formControlName].errors?.required">
        {{ config.label }} <label-translation [keyword]="'COMMON_LABEL__is_required'"></label-translation>
    </mat-error>
    <mat-error class='translateY' *ngIf="formGroup.controls[config.formControlName].errors?.maxlength">
        This field is required max length as
        {{ formGroup.controls[config.formControlName].errors?.maxlength.requiredLength }}
    </mat-error>
    <mat-error class='translateY' *ngIf="formGroup.controls[config.formControlName].errors?.pattern">
        {{ config.setting?.Validators?.Pattern.Message }}
    </mat-error>

</div>
