@import "color.scss";

/*
 * Component: ng2-dnd
 * ----------------------
 */
.dnd-drag-start {
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.7;
}

.dnd-drag-enter {
    opacity: 0.7;
}

.dnd-drag-over {
}

.dnd-sortable-drag {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7;
}



/*
 * Component: ng2-slim-loading-bar
 * ----------------------
 */
.slim-loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}



/*
 * Component: ng2-dragula
 * ----------------------
 */
.gu-mirror {
    button.close-btn {
        display: none;
    }
}

.gu-transit {
    .panel {
        opacity: 0.2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
    }
}

tr.gu-mirror {
    &.green-cell {
        td {
            color: $green;
        }
    }
}



/*
 * Component: wijmo
 * ----------------------
 */
/* -- Backgrounds -- */
