@import 'color.scss';

xn-communication-table {
    .xn__form-header {
        border: 1px solid $gray8;
        border-radius: 4px 4px 0 0px;
        border-bottom: none;
        padding: 2px !important;
        height: auto !important;
        margin-bottom: 0 !important;
    }

    .ui-paginator .ui-paginator-page.ui-state-active {
        background: $gray24 !important;
        color: $black6 !important;
        border-color: $gray25 !important;
    }
}

.primeng-col__command {
    text-align: center;
}

.datatable__row-min {
    .ui-paginator-bottom {
        display: none;
    }
}

xn-table-uploaded-files {
    .btn-del-editable-table,
    .btn-plus-editable-table,
    .icon-editable-table {
        background-color: transparent !important;
        border: none !important;
        margin-top: -12px !important;
        margin-bottom: -6px !important;
    }

    div.table__command {
        border: none !important;
    }

    div.wijmo-grid-container {
        margin-left: 1px;
    }

    .has-edit-buttons div.wijmo-grid-container {
        margin-top: -11px;
    }

    div.download-header-column {
        text-align: center;
    }
}
