$standard-size: 5px;
$small-size: 350px;
$middle-size: 900px;
$max-sm-size: 767px;
$min-md-size: 768px;
$large-size: 1024px;
$lg-size: 1200px;
$sreen2K-size: 1537px;
$border-radius-size: $standard-size;
$border-radius-size-control: 3px;

$spacing-size-sm: $standard-size;
$spacing-size-sd: $standard-size * 2;
$spacing-size-md: $standard-size * 3;
$spacing-size-lg: $standard-size * 4;
$spacing-size-ex: $standard-size * 5;
$spacing-size-mx: $standard-size * 6;
$spacing-size-xt: $standard-size * 10;

$form-control-input-padding-size-horizontal: 12px;
$form-control-input-padding-size-vertical: 6px;

$form-control-icon-size: 34px;
$line-height-control-icon-size: 34px;
$line-height-header-title: 25px;

$global-icon-size: 30px;
$global-icon-size-sm: 25px;
$global-icon-font-size: 20px;
$global-icon-font-size-sm: 15px;
$global-head-text-font-size: 12px;
$global-text-font-size: 15px;
$global-text-font-size-sm: 14px;
$global-icon-loading-opacity: 0.6;
$global-icon-blur-opacity: 0.4;
$global-icon-border-radius: 50%;
$global-function-icon-size: 20px;

$form-header-height-size: 30px;
$h4-size: 18px;

$header-height: 53px;