@import "color";
@import "size";

$assets-root: "~/public/assets/";
$image-folder: "img/";
$images-root: "#{$assets-root}#{$image-folder}";
$widget-main-toolbar-width: 100px;


$font-family-global: 'Roboto';