.active-translation {
    background-color: #f8ba22;
    color: #000;
    border: 1px solid lightgrey;
}

.translate-popup {
    border: solid 1px lightgrey;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    background-color: #fdf9f9;
}
