<p-dialog #pDialogTranslation *ngIf="showDialog"
          header=""
          [(visible)]="showDialog"
          [resizable]="true"
          [draggable]="true"
          modal="modal"
          width="900"
          height="500"
          responsive="true"
          appendTo="body">
    <p-header>
        <div class="modal-header--information">
            <span class="fa  fa-language  header-icon  pull-left"></span>
            <span class="header-text  pull-left">Widget Translation</span>
            <button type="button"
                    mat-raised-button
                    class="mat-btn-close-popup"
                    (click)="close()">
                <span class="fa fa-fw fa-close"></span>
            </button>            
        </div>
    </p-header>
    <div class="col-xs-12 no-padding  common-popup">
        <widget-article-translation #articleTranslation *ngIf="data"
                                    [data]="data" 
                                    [translatedDataGrid]="translatedDataGrid">
        </widget-article-translation>
        <widget-article-translation #articleTranslation *ngIf="idArticle"
                                    [idArticle]="idArticle"
                                    [translatedDataGrid]="translatedDataGrid">
        </widget-article-translation>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix no-border no-padding">
                        
            <button type="button"
                    mat-raised-button
                    class="mat-btn-blue  pull-right  new-size"
                    title="Close"
                    (click)="close(true)">
                Close
            </button>

            <button type="button"
                    mat-raised-button
                    class="mat-btn-blue  pull-right  new-size"
                    title="Apply"
                    (click)="apply(true)">
                Apply
            </button>

        </div>
        <div class="widget-info__resize_bottom xn-icon__resize icon-black"></div>
    </p-footer>
</p-dialog>
