.m {
    width: calc(100% - 15px);
    height: calc(100% - 40px);
    position: absolute;
    z-index: 11;
    top: 40px;
}

:host ::ng-deep {
    .tab-content {
        border-right: 1px solid #3c8dbc !important;
        height: calc(100% - 40px);
    }
}
