.form-design-wrapper {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 0px grey;
    // background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2QwZDBkMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZDBkMGQwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=);
    // background-position: -1px -1px;
}

.form-designer-content {
    --row-space-between: 2px;

    display: flex;
    flex-direction: column;
    padding: 10px;

    > draggable-item-container:not(:first-child):not(:last-child) {
        margin-bottom: var(--row-space-between);
        margin-top: var(--row-space-between);
    }

    > draggable-item-container:first-child {
        margin-bottom: var(--row-space-between);
    }

    > draggable-item-container:last-child {
        margin-top: var(--row-space-between);
    }
}
