.search-box {
    width: 100%;
    height: 100%;
    padding: 10px 16px 10px 10px;
}

.search-icon {
    position: absolute;
    right: 5px;
    top: 25%;
    color: #999;
    cursor: pointer;
}

.add-btn {
    min-width: 50px;
}


.fa-spinner {
    position: absolute;
    right: 5px;
    top: 25%;
}


