<div class="authenticate">
	<div class="cusor-pointer">
		<a (click)="redirectToRootPage()">
			<img src="public/imgs/authenticate/xoonit-logo-lightMode.svg" alt="logo">
		</a>
	</div>
	<div class="error-body">
		<div class="message">
			<span class="subject">Invalid Token:</span>
			Sorry, there was error. Please retry your request.
		</div>
		<p class="title">Oops!</p>
		<p class="title content">Sorry we can't find that page</p>
		<img src="public/imgs/authenticate/bg_invalid_page.svg" alt="invalid">
	</div>
</div>