.module-container {
    width: 100vw;
    height: calc(100vh - 53px);

    .module-management {
        height: calc(100vh - var(--app-header-height));
    }
    /*.widdget-template {
        width: calc(100% - 50px) !important;
    }*/
}
