@import '../../popup.scss';

:host {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.x-popup-container {
    &.resize {
        min-width: 20vw;
        min-height: 20vh;
        resize: both;
        overflow: auto;
        position: fixed;
        .height-popup {
            height: 100%;

            .height-body {
                height: calc(100% - 45px);
            }
        }
    }
    .x-popup {
        height: inherit;
    }

    .move-popup {
        cursor: move;
    }
}
