.ng2-dropdown-menu {
    z-index: 999999 !important;
}

.ng2-tag-input.ng2-tag-input--focused {
    border-bottom: none !important;
}

.ng2-tag-input {
    tag {
        line-height: 32px !important;
    }
}
