<ul class="pagination pull-left" [ngClass]="classMap">
    <li class="pagination-first" *ngIf="boundaryLinks">
        <button class="mat-btn-blue mat-raised-button--first cursor-pointer"
                [ngClass]="{ 'icon-transform': !noPrevious() && !disabled }"
                mat-raised-button
                [disabled]="noPrevious() || disabled"
                (click)="selectPage(1, $event)"
                #popFirst="bs-tooltip"
                container="body"
                data-placement="top"
                [tooltip]="noPrevious() || disabled ? '' : 'First page'">
            <i class="fa fa-backward"></i>
        </button>
    </li>
    <li class="pagination-prev" *ngIf="directionLinks">
        <button class="mat-btn-blue cursor-pointer"
                mat-raised-button
                [ngClass]="{ 'icon-transform': !noPrevious() && !disabled }"
                [disabled]="noPrevious() || disabled"
                (click)="selectPage(page - 1, $event)"
                #popFirst="bs-tooltip"
                container="body"
                data-placement="top"
                [tooltip]="noPrevious() || disabled ? '' : 'Previous page'">
            <i class="fa fa-chevron-left"></i>
        </button>
    </li>
    <li>
        <div class="page-number-input">
            <input type="text"
                   XnOnlyNumber="true"
                   class="height-px-30 input-border"
                   [value]="page"
                   [formControl]="pagerControl"
                   autocomplete="off" />
            <span class="label-text" *ngIf="globalNumberFormat == 'N'"> <label-translation [keyword]="'XnPagination__Of'"></label-translation> {{ totalPages | number: 0 }} <label-translation [keyword]="'XnPagination__Pages'"></label-translation> </span>
            <span class="label-text" *ngIf="globalNumberFormat != 'N'"> <label-translation [keyword]="'XnPagination__Of'"></label-translation> {{ totalPages }} <label-translation [keyword]="'XnPagination__Pages'"></label-translation> </span>
        </div>
    </li>
    <li class="pagination-next" *ngIf="directionLinks">
        <button class="mat-btn-blue cursor-pointer"
                [ngClass]="{ 'icon-transform': !noNext() }"
                mat-raised-button
                [disabled]="noNext()"
                (click)="selectPage(page + 1, $event)"
                #popFirst="bs-tooltip"
                container="body"
                data-placement="top"
                [tooltip]="noNext() ? '' : 'Next page'">
            <i class="fa fa-chevron-right"></i>
        </button>
    </li>
    <li class="pagination-last" *ngIf="boundaryLinks">
        <button class="mat-btn-blue mat-raised-button--last cursor-pointer"
                [ngClass]="{ 'icon-transform': !noNext() }"
                mat-raised-button
                [disabled]="noNext()"
                (click)="selectPage(totalPages, $event)"
                #popFirst="bs-tooltip"
                container="body"
                data-placement="top"
                [tooltip]="noNext() ? '' : 'Last page'">
            <i class="fa fa-forward"></i>
        </button>
    </li>
</ul>

<div class="page-size">
    <span class="label-text"> <span><label-translation [keyword]="'XnPagination__Page_Size'"></label-translation></span> </span>
    <wj-combo-box #pagingDropdown
                  selectFirstIfOnlyOne
                  [(ngModel)]="itemsPerPage"
                  class="custom-wj-input-control xn-select"
                  [itemsSource]="pagingDropdownData"
                  [displayMemberPath]="'text'"
                  [selectedValuePath]="'value'"
                  [isEditable]="allowEdit"
                  [isRequired]="true"
                  (selectedIndexChanged)="pageSizeChange()"
                  (lostFocus)="savePagingData()"
                  (keyup)="pagingDropdownKeyup($event)">
    </wj-combo-box>
    <button *ngIf="allowEdit"
            class="mat-btn-red delete cursor-pointer"
            [ngClass]="{ 'icon-transform': !isDisableRemoveButton }"
            mat-raised-button
            tooltip="Remove page size item"
            placement="top"
            [disabled]="isDisableRemoveButton"
            (click)="removePagesizeItem()"
            #popFirst="bs-tooltip"
            container="body"
            data-placement="top"
            [tooltip]="isDisableRemoveButton ? '' : 'Remove page size'">
        <i class="fa fa-trash-o"></i>
    </button>
</div>
