@import 'src/sass_files/color.scss';

.folder-tree-wrapper {
    height: 100%;

    .tree-folder {
        height: 100%;

        ::ng-deep .document-tree-container {
            height: calc(100vh - 149px);
            max-height: calc(100vh - 149px);
            min-height: calc(100vh - 149px);
        }
    }
}

::ng-deep .xn-document-tree-header-wrapper {
    border-bottom: 1px solid $gray40;
}
